.amazon-tag {
  background-color: rgba(246, 246, 246, .5);
  border: 1px solid $silver;
  margin-bottom: 1em;
  overflow: hidden;
  padding: 10px;

  img {
    border: 0 none;
    float: left;
    padding: 1px;
    vertical-align: middle;
    width: 120px;
  }

  p {
    line-height: 1.2;
  }

  .item-detail {
    float: left;
    margin-left: 5px;
    padding: 1em;
  }

  &:after {
    clear: both;
  }
}

